@import url(12bool.css);

/* COMMON */

body {
    color: white;
}

/* TYPO */

h2 {
    color: black;
}

body {
    font-size: .875rem;
}

/* SECTION */

section {
    margin-bottom: 1.25rem;
}

.col {
    background-color: blue;
    /* border: 1px solid white; */
    text-align: center;
    padding: .625rem .625rem;
}

.col-green {
    background-color: green;
}

